.searchBar{
    display: flex;
}
.search_input{
    width: 280px;
    height: 45px;
    border: 1px solid #DDE2E4;
    border-radius: 5px;
    font-size: 11px;
    padding-left: 50px;
    text-align: left;
}
.search-icon {
    position: absolute;
    padding-top: 16px;
    padding-left: 25px;
    min-width: 20px;
    font-size: 3px;
  }