.sidebar {
  background-color: white;
  height: 100vh;
  width: 100px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sidebar__container {
  display: flex;
  flex-direction: column;
}
.sidebar__container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-left: 18px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.sidebar__container2 {
  margin-top: 500px;
  margin-left: 20px;
  padding: 10px;
}
